<div class="container">
    <div class="text-center mt-5">
        <h1>connection</h1>
    </div>

    {% if session.notification %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-{{ session.notification.result }}" role="alert">
                    {{ session.notification.message }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="articleForm" method="POST" action="connect.php" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" value="" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="mdp" class="form-label">Mot de passe</label>
                    <input type="password" name="mdp" class="form-control" value="" id="mdp" required>
                </div>
                <button type="submit" name="submit" value="ajouter" class="btn btn-primary">Soumettre</button>
            </form>
        </div>
    </div>
</div>
</div>